@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #427b66;
}

.calculadora {
	display: flex;
	flex-direction: column;
	background-color: gray;

	width: 198px;
	height: 257px;
	padding: 16.9px;
	border-radius: 5px;
	background-color: #353535;
	box-shadow: 0px 13px 0px #202020;
}

.area-visor {
	width: 100%;
	height: 20%;
}

.visor {
	width: 100%;
	height: 60%;
	border-radius: 3px;
	letter-spacing: 2px;
}

.teclas {
	height: 80%;
	display: grid;
	grid-template-areas: 'c c b o' 'n n n o' 'n n n o' 'n n n o' 'z z p i';
	grid-template-columns: repeat(4, 1fr);
	border: 1px solid #6f6f6f;
}

.tecla {
	background-color: #2b2b2b;
	color: white;

	border: 1px solid #6f6f6f;
}

.tecla:hover {
	background-color: #484848;
}

.tecla:active {
	opacity: 20%;
}

.operador {
	background-color: #404040;
}

.C {
	background-color: #404040;
	grid-area: c;
}

.backspace {
	background-color: #404040;
}

.fa-backspace {
	grid-area: b;
	pointer-events: none;
}

.ponto {
	/* background-color: #404040; */
	grid-area: p;
}

.zero {
	grid-area: z;
}

.igual {
	background-color: #00b070;
	grid-area: i;
}

.igual:hover {
	background-color: #00b06f6c;
}

.area-historico {
	width: 198px;
	height: 257px;
	padding: 1.5%;

	display: flex;
	flex-direction: column;
	background-color: #4f4f4f;
	color: white;
	text-align: right;
	border-radius: 3px 5px 5px 0;

	overflow-y: auto;
	scrollbar-width: thin;
}

.header-hist {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.header-hist div {
	text-align: left;
	font-style: italic;
}

.header-hist i {
	font-size: 0.9em;
}

.header-hist i:hover {
	cursor: pointer;
}

.operacao {
	margin: 5px;
	letter-spacing: 5px;
}

.resultado {
	font-weight: 600;
}
